@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&family=Syncopate:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600&display=swap');

:root{
  --color-primary:#d53f41;
  --color-dark: #626262;
  --color-darker: #464646;
  --color-light: #dbd8d6;
  --color-lighter:#f5f0ec;
}
*{
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration: none;
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
  font-family: 'Unbounded', cursive;
  letter-spacing: 1px;
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

.wrapper{
  margin: 0 5vw;
}
section{
  padding: 10rem 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
  font-size: 1.8rem;
  text-transform: lowercase;
}
.logo a{
  color: var(--color-darker);
  font-family: "Syncopate", sans-serif;

}


.links a{
  font-weight: 700;
  color: var(--color-dark);
}


.hero{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5rem;
}
.hero-l{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.hero-heading{
font-size: 6rem;
}
.hero-l p{
  font-size: 3.2rem;
}
.hero-btn{
  display: inline-block;
  width:25rem;
  border: 0;
  padding: 2.5rem 1.5rem;
  font-size: 3rem;
  border-radius:100vmax;
  background-color: var(--color-primary);
  color: var(--color-light)
}
.hero-r img{
  width: 100%;
  height: 100%;
}
.hero-r {
  position: relative;
  background-color: var(--color-lighter);
}
.hero-r span{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--color-lighter);

}
